$yellow: #f6db5f;
$orange: #ffb554;
$red: #fe5e51;
$dark_rose: #9e3d64;
$green: #36abb5;
$white: #fff;
$blue: rgb(16, 156, 236);
$font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$grey: #ccc;
