// colors
$yellow: #f0c403;
$orange: #ffb554;
$red: #fe5e51;
$dark_rose: #9e3d64;
$coral: coral;
$green: #36abb5;
$white: #fff;
$blue: rgb(16, 156, 236);
$grey: #ccc;

// transition
$transition: all 500ms;
// fonts
$font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
