@import "./variables";

html {
  box-sizing: border-box;
}
body {
  background-color: $green;
  overflow: hidden;
  font-family: $font;
}
h1,
h2,
h3,
h4,
h5,
p,
label,
span {
  font-family: $font;
}

.container {
  max-width: 60em;
  margin: 0 auto;
  background-color: $white;
  transition: all 500ms;
  border-radius: 0.15em;
  transform: translateY(2em);
  padding: 1em;
}
@media only screen and (max-width: 700px) {
  .container {
    width: 38em;
  }
  .react-calendar {
    font-size: 1.8em;
  }
}
