@import "../styles/variables";
.add-date {
  background-color: $blue;
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 0.2em;
  color: $white;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  > div {
    margin: 1em 0;
  }
}
.time-fields {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.input-time,
.title-field,
.description-field {
  border: 0;
  outline: 0;
  border-radius: 0.2em;
  padding: 0.8em;
  width: 8em;
  font-size: 1em;
  text-transform: capitalize;
  margin: 0 1em;
  color: $orange;
  &::placeholder {
    color: $orange;
  }
}
.title-field {
  width: 21em;
  margin-left: 3.5em;
}
.description-field {
  margin-top: 2em;
  width: 21em;
}
.form-group div:nth-child(3) label {
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  .button {
    outline: none;
    border: 0;
    border-radius: 0.1em;
    font-size: 2em;
    color: $orange;
    &:last-child {
      color: $red;
    }
  }
}
