@import "../../../styles/variables";

.element {
  table {
    width: 100%;
    margin-bottom: 5em;
    tr,
    td,
    th:not(:first-child) {
      font-size: x-large;
      font-family: $font;
      font-weight: 400;
      padding: 0.2em;
      text-align: center;
      border: 1px solid red;
      border-radius: 0.2em;
    }
    td {
      padding: 0.1em;
      input,
      select,
      textarea {
        font-size: x-large;
        width: 100%;
        height: auto;
        outline: none;
        border: 0;
      }
      textarea {
        width: 99%;
      }
    }
  }
}
